@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanwebthinfanum.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanweblightfanum.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanwebregularfanum.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanwebmediumfanum.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanwebboldfanum.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./public/fonts/iranyekan/iranyekanwebextraboldfanum.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/public/fonts/iranyekan/iranyekanwebblackfanum.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  /* Primary Colors - برای المان‌های اصلی و تعاملی */
  --primary-color: #8b25eb;        /* آبی اصلی برای دکمه‌ها و هایلایت */
  --primary-hover: #8d1dd8;        /* آبی تیره‌تر برای هاور */
  
  --gray-dark: #15161b;      
  --gray-darker: #222222;      
  --gray: #404255;        
  
  /* Border Colors - برای حاشیه‌ها و جداکننده‌ها */
  --border-color: #e2e8f0;         /* خاکستری روشن برای borderها */
  --border-light: #f1f5f9;         /* خاکستری بسیار روشن */
  
  /* Status Colors - برای وضعیت‌ها */
  --online-status: #10b981;        /* سبز برای وضعیت آنلاین */
  --away-status: #f59e0b;          /* نارنجی برای وضعیت دور از دسترس */
  --offline-status: #6b7280;       /* خاکستری برای آفلاین */
  
  /* Message Colors - برای رنگ‌بندی پیام‌ها */
  --message-sent: #2563eb;         /* آبی برای پیام‌های ارسالی */
  --message-received: #f1f5f9;     /* خاکستری روشن برای پیام‌های دریافتی */
  --message-text-sent: #ffffff;    /* سفید برای متن پیام‌های ارسالی */
  --message-text-received: #1e293b; /* خاکستری تیره برای متن پیام‌های دریافتی */
  
  /* Input Colors - برای فیلدهای ورودی */
  --input-bg: #ffffff;             /* سفید برای زمینه input */
  --input-placeholder: #94a3b8;    /* خاکستری برای placeholder */
  
  /* Shadow - برای سایه‌ها */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Space Mono" , "IranYekan";
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
}